{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mod Archive Player</title>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<meta name="description" content="TMA Player"/>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2280%22>🔊</text></svg>"/>
    <link rel="stylesheet" href="{% static '_style/main.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&family=Workbench&display=swap" rel="stylesheet">

    {% block script %}
        <script src="{% static '_script/main.js' %}" type="module"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.5/jszip.min.js"></script>
    {% endblock script %}
</head>
<body>
    <div id="player" class="standalone"></div>
</body>
</html>