{% extends 'base_page/base.html' %}
{% load filters %}

{% block title %}
    {{ block.super }}: {{ artist.name }} artist profile
{% endblock %}

{% block content %}

{% if user.is_staff and perms.artists.change_artist %}
    <div class="alert alert-warning" role="alert">
        <h4 class="alert-heading">Admin Actions</h4>
        <a href="{% url 'admin:artists_artist_change' artist.id %}">Change this artist</a>
    </div>
{% endif %}

<div class="alert alert-warning">
    This artist is not a modarchive user and they do not actively maintain this page. If there concerns about this page, please contact modarchive staff.
</div>

<h1>{{ artist.name }}</h1>


{% include 'common_elements/paginator.html' with page_obj=page_obj page_range=page_range %}


<table class="songs">
    <thead>
    <tr>
        <th>Filename</th>
        <th>Title</th>
        <th>Rating</th>
    </tr>
    </thead>
    <tbody>
    {% for song in songs %}
    <tr>
        <td>
            <a class="button inline round player scriptEnabled" href="{% url 'player' %}?song_id={{song.id}}">Play</a>
            <a href="{% url 'view_song' song.id %}"><i class="format {{song.get_format_display}}">{{song.get_format_display}}</i> {{song.filename}}</a>
        </td>
        <td>{{ song.get_title }}</td>
        <td>{{ song.songstats.average_comment_score|default_if_none:"" }}</td>
    </tr>
    {% empty %}
    <div>No songs yet.</div>
    {% endfor %}
    </tbody>
</table>




<p>
    <br/>
    <a class="button" href="{% url 'artists' %}">Back to artists index</a>
</p>

{% endblock %}