#player{
  background-color: black;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 130px;
  border-top: 2px solid #14463a;
  color: silver;
  display: none;

  &.active{
    display: flex;
    justify-content: space-between;

    &.standalone{
      display: block;

      #visualizer{
        width: 100%;
        height: calc( 100vw - 10px);
        margin-top: 10px;
      }
    }
  }

  &.standalone{
   height: unset;
   top: 0;
  }

  #mainDisplay{
    height: 36px;
    margin: 4px;
    width: 100%;
    text-align: center;
    position: relative;

    h1{
      padding: 0;
      margin: 0;
      font-size: 24px;
      line-height: 36px;
    }

    div{
      font-size: 11px;
      line-height: 12px;
      position: absolute;
      top: 0;
      color: #8b9baa;
      text-align: left;

      &.right{
        right: 0;
        text-align: right;
      }

      &.hidden{
        display: none;
      }
    }

  }

  #volumePanel{
    position: absolute;
    display: flex;
    left: 0;
    top: 81px;
    width: 120px;
    align-items: center;
  }

  button{
    display: block;
    background-color: transparent;
    border: none;
    color: transparent;
    width: 24px;
    height: 24px;
    overflow: hidden;
    margin: 0 10px;
    background-image: url("../_img/play.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center center;
    filter: saturate(0);

    &:hover{
      filter: saturate(1) drop-shadow(0 0 2px #90ddcb);
      cursor: pointer;
    }

    &.pause{
      width: 48px;
      height: 48px;
      border: 1px solid #14463a;
      border-radius: 50%;
      background-size: 27px 28px;
      background-position: center center;
      background-image: url("../_img/pause.svg");

      &.active{
        background-image: url("../_img/play.svg");
      }
    }

    &.next{
      background-image: url("../_img/next.svg");
    }

    &.prev{
      background-image: url("../_img/next.svg");
      transform: rotate(180deg);
    }

    &.popout{
      background-image: url("../_img/external.svg");
    }

    &.popin{
      background-image: url("../_img/internal.svg");
    }

    &.mono{
      background-image: url("../_img/mono.svg");

      &.active{
        background-image: url("../_img/stereo.svg");
      }
    }

    &.volume{
        background-image: url("../_img/volume.svg");

      &.muted{
        background-image: url("../_img/volume-muted.svg");
      }
    }

    &.info{
        background-image: url("../_img/info.svg");
      position: absolute;
      right: 0;
      top: 82px;
    }
  }

  #playerButtons{
    display: flex;
    align-items: center;
    margin-top: 10px;
  }

  #visualizer{
    width: 300px;
    background-color: #30393b;
    height: 100%;
    overflow: hidden;
    position: relative;

    #patternView{
      position: absolute;
      left: 4px;
      top: 0;
      font-family: "Workbench", sans-serif;
      font-optical-sizing: auto;
      font-weight: 400;
      font-style: normal;
      font-size: 14px;
      line-height: 16px;
      font-variation-settings:
              "BLED" 0,
              "SCAN" 0;

      div{
        white-space: nowrap;
      }

      b{
        color: #e7b47c;
      }

      em{
        color: #66dc9d;
        font-style: normal;
      }
    }

    #topBar{
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 53px;
      background: linear-gradient(0,rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.8) 100%);
      border-bottom: 1px solid #558e7e;
    }

    #centerBar{
      position: absolute;
      top: 53px;
      height: 15px;
      left: 0;
      right: 0;
      opacity: 0.5;
      mix-blend-mode: overlay;
      background-color: #00b1ff;
    }

    #bottomBar{
      position: absolute;
      top: 68px;
      left: 0;
      right: 0;
      bottom: 0;
      background: linear-gradient(0,rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.2) 100%);
      border-top: 1px solid #170e0e;
    }
  }

  .panel:nth-child(1){
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    position: relative;
  }
}

// mobile styles
@media (max-width: 800px) {
#player{
  #mainDisplay{
    div{display: none;}
  }
  #volumePanel,
  button.info{
    display: none;
  }
}
}

@media (max-width: 640px) {
  main{
    padding-bottom: 270px;
  }

  header .modarchive{
    width: 250px;
    background-repeat: no-repeat;
  }

  #player{
    height: 260px;

    &.active{
      display: block;
    }

    #visualizer{
      width: 100%;
      margin-top: 10px;
    }
  }
}

@media (max-width: 420px) {
  header .logo{
    width: 68px;
  }

  header .modarchive{
    left: 90px;
  }
}